pre.json {
  position: relative;
  color: var(--punctuation);
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  line-height: 1.25;

  .string {
    color: var(--string);
  }

  .number {
    color: var(--number);
  }

  .boolean {
    color: var(--boolean);
  }

  .null {
    color: var(--null);
  }

  .key {
    color: var(--key);
  }

  button {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
