button {
  margin: 0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--fg);
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  flex-shrink: 0;
  outline: 0 solid transparent;
  transition: outline 0.075s ease-out;

  &:focus {
    outline: 0.175rem solid var(--accent);
  }

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
  }

  &[data-icon="back"] {
    background: none var(--fg);
    &::after {
      background: no-repeat center/100% var(--icon-back);
    }
  }

  &[data-icon="add"] {
    background: none var(--success);
    &::after {
      background: no-repeat center/100% var(--icon-add);
    }
  }

  &[data-icon="remove"] {
    background: none var(--error);
    &::after {
      background: no-repeat center/100% var(--icon-remove);
    }
  }

  &[data-icon="copy"] {
    background: none var(--fg);
    &::after {
      background: no-repeat center/80% var(--icon-copy);
    }
  }
}
